body {
    font-family: 'Quicksand', sans-serif;
    background-color: navy;

    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;

}

button {

    border: 2px solid;
    background: none;
    color: #ffa260;
    padding: 1em 2em;
    font-size: 1em;

}

button:hover {
    border-color: yellowgreen;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
    transition: transform 500ms, box-shadow 700ms;
}

